<div class="card" style="width: 18rem;">
  <!-- 插值 interpolation -->
  Interpolation: {{ imgTitle }}
  <!-- 屬性繫結 property binding -->
  <img [src]="product.imageUrl" class="card-img-top" [title]="imgTitle">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <form (ngSubmit)="submitData(tForm.value)" #tForm="ngForm">
      <input type="text" [(ngModel)]="imgTitle" name="title" required />
      <button type="submit">SUBMIT</button>
    </form>
    <a class="btn btn-primary" (click)="selectProduct()">Add to Cart</a>

  </div>
</div>
