<button class="btn btn-primary" type="button">Add Product</button>

<img [src]="imgSrc" alt="" (mouseleave)="imgSrc = imgSrcBack" (mouseenter)="imgSrc = imgSrcFront">

<p *ngIf="buyProducts.length > 0">
您的購物車裡有： {{ buyProducts }}
</p>
<ng-container *ngIf="products.length > 0; else tNoData">
  <div class="container bg-secondary p-5">
    <div class="row">
        <app-product
          *ngFor="let product of products"
          [product]="product"
          (onAddToCart)="addToCart($event)"
         class="col-6 g-3">
        </app-product>
    </div>
  </div>
</ng-container>

<p [style.font-size.px]="defaultSize">
  {{'Hello world' | uppercase2 }}
</p>

<ng-template #tNoData>
  No Products :(
</ng-template>
